.portfolio {
  padding: 60px 20px;
  text-align: center;
}

.title {
  color: #2c3e50;
  text-transform: uppercase;
  font-size: 45px;
  letter-spacing: 1px;
  font-weight: bold;
  margin-bottom: 40px;
}

.gallery {
  display: flex;
  flex-wrap: wrap;     
  justify-content: center;
  gap: 40px;
  padding: 10px 50px;
}

.card {
    flex: 1 1 calc(33.333% - 40px);
    border-radius: 8px;
}

.card img {
  width: 100%;
  display: block;
  object-fit: cover;
  border-radius: 8px;
}

