.portfolio {
  padding: 60px 20px;
  text-align: center;
}

.title {
  color: #2c3e50;
  text-transform: uppercase;
  font-size: 45px;
  letter-spacing: 1px;
  font-weight: bold;
  margin-bottom: 40px;
}

.gallery {
  display: flex;
  flex-wrap: wrap;     
  justify-content: center;
  gap: 40px;
  padding: 10px 50px;
}

.card {
    flex: 1 0 calc(33% - 40px);
    border-radius: 8px;
}
@media (max-width: 992px) {
  .card {
    flex: 1 1 calc(50% - 40px);
  }
}

@media (max-width: 576px) {
  .card {
    flex: 1 1 100%;
  }
}

.card img {
  width: 100%;
  display: block;
  object-fit: cover;
  border-radius: 8px;
}

