.about {
  padding: 60px 20px;
  text-align: center;
  background-color: #1abc9c; 
  color: white;
}

.title {
  font-size: 50px;
  font-weight: bold;
  margin-bottom: 40px;
  text-transform: uppercase;
  letter-spacing: 1px;
}

.content {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 30px;
  margin-bottom: 40px; 
}

.paragraph {
    font-size: 23px;
  flex: 1 1 45%; 
  max-width: 500px;
  line-height: 1.3;
  text-align: left;
}

@media (max-width: 768px) {
  .paragraph {
    flex: 1 1 80%;
    text-align: center;
  }
}

.downloadButton {
  display: inline-flex;
  align-items: center;
  gap: 8px;
  padding: 15px 30px;
  font-size: 20px;
  font-weight: 600;
  color: white;
  border: 2px solid white;
  border-radius: 5px;
  text-decoration: none;
}
