.footer {
  background-color: #2c3e50; 
  color: white;              
  padding: 60px 20px;
}

.container {
  display: flex;
  justify-content: space-between;
  gap: 30px;
  flex-wrap: wrap;
  width: 100%;
  padding: 10px 50px;
}

.column {
  flex: 1 1 250px; 
  min-width: 200px;
  text-align: center; 
  color: white;    
}

.heading {
  font-size: 23px;
  letter-spacing: 1px;
  font-weight: 700;
  margin-bottom: 30px;
  text-transform: uppercase;
  color: white;      
}

.socialIcons {
  display: flex;
  justify-content: center;
  gap: 13px;
}

.icon {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border: 2px solid;
  background-color: #2c3e50;
  color: white;      
  text-decoration: none;
  font-size: 20px;
}

.location  {
  font-size: 20px;
  font-weight: 400;
  line-height: 0.8;
  color: white;     
}
.aboutText {
  font-size: 20px;
  line-height: 1.6;
  color: white; 
}

.highlight {
  color: #1abc9c;     
  text-decoration: underline;
}

.footerBottom {
  background-color: #1a252f; 
  color: white;
  text-align: center;
  padding: 15px 0;
  font-size: 15px;
}
.footerBottom p{
    margin-top: 15px;
}
