.hero {
  min-height: 100vh;
  background-color: #1abc9c;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: white;
}

.avatar {
  width: 230px;
  height: auto;
  margin-top: 40px;
  margin-bottom: 20px;
}
@media (max-width: 992px){
  .avatar{
    width: 200px;
  }
}

.title {
  font-size: 70px;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-weight: bold;
  margin-bottom: 20px;
}
@media (max-width: 992px){
  .title{
    font-size: 50px;
  }
}
@media (max-width: 768px){
  .title{
    font-size: 30px;
  }
}
.subtitle {
  font-size: 25px;
}